<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h6 class="navbar-text text-light mb-0"> © Copyright 2025. All rights reserved </h6>

      <div class="navbar-nav d-flex flex-row">
        <a class="nav-link text-light px-3" href="/records/add">Create a Record</a>
        <a class="nav-link text-light px-3" href="/contactus#bottom">Q&A</a> <!--Using anchor to take user down to bottom of contact page-->
      </div>

    </div>
  </nav>
</footer>
    <script src="/Script/app.js"></script>
  </body>
</html>