<footer>
<<<<<<< HEAD
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h6 class="navbar-text text-light mb-0"> © Copyright 2025. All rights reserved </h6>

      <div class="navbar-nav d-flex flex-row">
        <a class="nav-link text-light px-3" href="/home">Home</a>
        <a class="nav-link text-light px-3" href="/about">About Us</a>
        <a class="nav-link text-light px-3" href="/records">Create a Record</a>
        <a class="nav-link text-light px-3" href="/contactus">Contact Us</a>
      </div>

    </div>
  </nav>
</footer>
=======
      <nav class="'navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="navbar-text">&copy; Copyright 2025. All rights reserved</h6>
        <div class="container-fluid">
        </div>
      </nav>
      
    </footer>
>>>>>>> a14b23b428de838bf37acc64262bcc9f15737e72
    <script src="/Script/app.js"></script>
  </body>
</html>