<!--about me page
this include stuff is to add the header, nav bar and footer-->
<%- include('./partials/header.ejs') %>
<%- include('./partials/main_nav.ejs') %>

<!--container, white box holding the code space-->
<!--<div class="container auto"> -->
    <div class="container my-5 w-75">
        <div class="card shadow-sm border-0 mx-auto" style="max-width: 800px;">
            <!--adding image of me into the container left side of the text-->
            <div class="row g-0 align-items-center">
            <div class="col-md-5">
                <span class="d-block border border-white rounded p-4 m-4" style="border-width: 2px;">
                <img src="/Asset/images/AutoBadge.png" class="img-fluid rounded" alt="Photo of Zahra Mirza">
            </div>

            <div class="col-md-7">
                <div class="card-body">
                    <p class="card-text fs-2">
                        Number 1 trust Auto Insurance brand in Onatrio!
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container text-center my-4">
        <h2>What we can do for you</h1>
        <br>
        <div class="row">

            <div class="col border-end">
            <h3>Reliable Coverage</h3>
            <p>We’ve got your back on the road. From accidents to theft, our coverage keeps you protected so you can drive with confidence.</p>
            </div>

            <div class="col border-end">
            <h3>Quick & Easy Claims</h3>
            <p>Need to file a claim? No worries! Our system makes it super simple to submit and track your reports—fast, easy, and stress-free.</p>
            </div>

            <div class="col">
            <h3>Afforadable</h3>
            <p>Insurance doesn’t have to break the bank. We offer flexible plans and discounts to help you get the coverage you need at a price you’ll actually like.</p>
            </div>

        </div>
    </div>
    <div class="container text-center my-4">
        <div class="card shadow-sm border-0 mx-auto w-100">
        <h3>Our Story</h3>
        <p>erm this is an assingemnt ..</p>
        <h1>space killer to check smt</h1>
        <br>
        </div>
    </div>
    <br>
    <br>
</div>



<!--footer-->
<%- include('./partials/footer.ejs') %>
